	<!-- carrito -->
    <%- include('../partials/head') %>
    <!-- /carrito -->
	<body>
		<!-- carrito -->
		<%- include('../partials/carrito') %>
		<!-- /carrito -->

		<!-- header -->
		<%- include('../partials/header') %>
		<!-- /header -->

		<section class="productos">

		<% if (productos.length === 0){ %>
			<h2 class="productos-title" id="top">No se encontró la búsqueda</h2>
		<!-- mensaje de error -->
		<%- include('../partials/error-msg') %>
		<!-- /mensaje de error -->

		<% } else { %>

			<h2 class="productos-title" id="top"><%= msg %></h2>
			<ul class="productos-container">
				<% productos.forEach(producto => { %>
				<li class="productos-item">
					
					<div class="producto-img">
						<img class="img--productos" src="/img/instrumentos/<%=producto.imagenes[0].name%>" alt="imagen de un/a <%=producto.instrument%>">
					</div>
                    
                    <p class="productos-text">
					<%= producto.instrument %>
                    </p>

					<p class="productos-text">
						<%= producto.categorias.name %>
					</p>
                    
                    <p class="productos-text">
                    <%=producto.mark %>
                    </p>
                    
                    <p class="productos-text">
                    <%= producto.tipe %>  
                    </p>
                    
                    <p class="productos-text">
                    <%= producto.color %>
                    </p>

					<p class="productos-text">
						$<%= producto.price %>
						</p>

                    <div class="btns--container">
			
							<a class="btn--editar" href="/products/edit/<%= producto.id %>">editar</a>

						<form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST">
                        	<button class="btn--borrar" type="submit">borrar</button>
						</form>
                    </div>
				</li>
				<% }) %>
			</ul>
		<% } %>	
			
            <a href="#top" class="btn--goTop"><i class="fas fa-chevron-circle-up"></i></a>
		</section>

		<!-- footer -->
		<%- include('../partials/footer') %>
		<!-- /footer -->
	</body>
</html>
