<!-- head -->
<%- include('partials/head')  %>
<!-- /head --> 

<body>
    <!-- header -->    
    <%- include('partials/header')  %>
    <!-- /header -->

    <main class="container-main">


        <div class="subcontainer-main">




            <!------------titulo primer cajita------------->

            <div class="title-main">
                <h1><%= producto.categoria %></h1>
            </div>


            <!------------------------------------------------------>




            <!-----producto con los botones de comprar------>

            <div class="product-main">
                <div class="title-guitar">
                    <h2><%= producto.instrumento%>  </h2>
                </div>
                <div class="product-img">
                    <img src="/img/instrumentos/<%= producto.categoria %>/<%= producto.img %>" alt="">
                </div>
                <div class="container-price">
                    <div class="price">
                        <p class="precionum"><%= producto.valor %></p>
                        <p class="marca"><%= producto.marca %></p>
                        <p class="modelo"><%= producto.modelo %></p>
                    </div>
                </div>
                

                <div class="buttons-product">
                    <div class="buy">
                        <a  href="#">Comprar!</a>
                    </div>
                    <div class="carrito">
                        <a href="#">A침adir al carrito</a>
                    </div>
                    
                </div>
            
                <div class='container-description'>
                    <div class="description-product">
                    
                        <h1 class="title-description">
                        Descripcion
                        </h1>
                        <div class="text-description">
                            <p class="text"> Guitarra Gibson "mytichal rock", modelo ABC-123. Con m치stil de pl치stico, clavijero anti temblor y diapas칩n extendible.
                            </p>
                        </div>
                        
                    </div>
                </div>
               

            </div>
            <!-- ----------------------------------------------------->




            <!-------------------- metodo de pagos ---------------->
            <div class="container-title-payment-method">
                <div class="title-payment-method">
                    <h3>Medios de pago</h3>
                </div>
                <div class="payment-method-main">
                    <P class="deb">tarjeta de debito</P>
                    <P class="cred">tarjeta de credito</P>
                    <P class="mp">mercado pago</P>
                    <P class="pg">pago facil</P>
                    <P>rapipago</P>
                </div>
            </div>
            
            <!------------------------------------------------------>



        </div>

    </main>





    <!-- footer -->
    <%- include('partials/footer')  %> 
    <!-- footer -->
</body>
</html>