<!-- head -->
<%- include('partials/head') %>
  <!-- /head -->

  
<body class="body--home">
  

    <!-- header -->
    <%- include('partials/header') %>
    <!-- /header -->

    <!-- carrito -->
    <%- include('partials/carrito') %>
    <!-- /carrito -->
    
    <main class="cargaProductos">
      
        <h2 class="cargaProductos-title">editando instrumento</h2>
      <form class="carga" action="/products/update/<%=producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        
        <div class="carjaIzquierda">
            
            <div class="log-row">
              <label class="log--label" for="tipo">Tipo de instrumento :</label>
              <input class="log--input" type="text" name="tipo" id="tipo" placeholder="electrica,acustica,etc.." value="<%= producto.tipo %> ">
            </div>
            
            <div class="log-row">
              <label class="log--label" for="marca">Marca :</label>
              <input class="log--input" type="text" name="marca" id="marca" placeholder="Gibson,Fender,Yamaha,etc.." value="<%= producto.marca %> ">
            </div>
            
            <div class="log-row">
              <label for="nombre" class="log--label">Nombre :</label>
              <input class="log--input" type="text" name="nombre" placeholder="Nombre del artículo" id="nombre" value="<%= producto.nombre %> ">
            </div>
          
        </div>

        <div class="cajaDerecha">
          
          <div class="log-row">
            <label for="color" class="log--label">Color :</label>
            <input class="log--input" type="text"  name="color" placeholder="blanco,negro,etc..." id="color"
            value="<%= producto.color %> ">
          </div>
         
          <div class="log-row">
            <label for="valor" class="log--label">Valor :</label>
            <input class="log--input" type="text"  name="valor" placeholder="$10,$1000,etc.." id="valor"
            value="<%= producto.valor %> ">
          </div>
          
          <div class="log-row">
            <label for="formImg" class="log--label">Fotos :</label>
            <input class="log--input" type="file"  name="file" class="form-control-file" id="formImg"
            value="<%= producto.img %> " >
          </div>
        
        <button class="btn--submit">guardar cambios</button>
            <a href="/products/list" class="btn--productos">ver lista</a>
        
        
        </div>    
            
      </form>
      
    </main>
   <!-- footer -->
   <%- include('partials/footer') %>
 <!-- /footer -->
   
   
   
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
   integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
   crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
   integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
   crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
   crossorigin="anonymous"></script>
 <script src="/javascript/slider.js"></script>
</body>