<!-- head -->
<%- include('partials/head') %>
  <!-- /head -->

  
<body class="body--home">
    <div class="form-container">

    <!-- header -->
    <%- include('partials/header') %>
    <!-- /header -->

    <!-- carrito -->
    <%- include('partials/carrito') %>
    <!-- /carrito -->
    
    
    <section class="ingreso">
        <div class="principal">
            <form class="form-izq" action="/users/log-in" method="POST">
                    <div class="log-container">
                        <div class="log-row">
                            <label for="user" class="log--label">Usuario o email:</label>
                            <input class="log--input" type="text" placeholder="ingresá tu usuario o email" id="user" name="user-email">
                        </div>
                        <div class="log-row">
                            <label for="pass" class="log--label">Contraseña:</label>
                            <input class="log--input" type="password" placeholder="ingresá tu contraseña" id="pass" name="password">
                        </div>

                        <label for="check" style="width:100%; font-family:arimo; padding: 1rem; text-align:center">
                        recordarme
                        <input type="checkbox" id="check">
                        </label>
                        
                    
                        <button type="submit" class="btn--logIn">Ingresá</button>
                    </div>
    
                    <div class="social-register">
                        <a class="btn--faceLog" href="">ingresá con Facebook</a>
                        <a class="btn--googLog" href="">ingresá con Google</a>
                    </div>
            </form>
            <form class="form-der" action="/users/register" method="POST">
                    <div class="register-container">
                        <div class="log-row">
                            <label for="userName" class="log--label">Ingresá tú nombre:</label>
                            <input class="log--input" type="text" placeholder="ingresá tú nombre" id="userName" name="userName">
                        </div>
    
                        <div class="log-row">
                            <label for="emailRegister" class="log--label">Ingresá un email:</label>
                            <input class="log--input" type="emal" placeholder="ingresá un email" id="emailRegister" name="email">
                        </div>
                    
                        <div class="log-row">  
                            <label for="passRegister" class="log--label">Ingresá una contraseña:</label>
                            <input class="log--input" type="password" placeholder="ingresá una contraseña" id="passRegister" name="pass">
                        </div>
    
                        <div class="log-row">
                            <label for="pass2-Register" class="log--label">Reingresá la contraseña:</label>
                            <input class="log--input" type="password" placeholder="Rringresá la contraseña" id="pass2-Register" name="pass2">
                        </div>
                
                    <button type="submit" class="btn--register">Registrate</button>
                    </div>
                    
    
                    <div class="social-register">
                        <a class="btn--faceLog" href="">ingresá con Facebook</a>
                        <a class="btn--googLog" href="">ingresá con Google</a>
                    </div>
            </form>
         
        </div>

        <% if (typeof errores !== "undefined") { %>
            <ul>
                <% errores.forEach(error => { %>
                    <li><%= error.msg %> </li>
                <% }); %>
            </ul>
         
        <% } %>
       
    </section>

    
   


<!-- footer -->
   <%- include('partials/footer') %>
   <!-- /footer -->

    </div>

  
   
   
   

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
   integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
   crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
   integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
   crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
   crossorigin="anonymous"></script>
 <script src="/javascript/slider.js"></script>
  </body>