<!-- carrito -->
<%- include('partials/head') %>
<!-- /carrito -->
<body>
	<!-- carrito -->
	<%- include('partials/carrito') %>
	<!-- /carrito -->

	<!-- header -->
	<%- include('partials/header') %>
	<!-- /header -->

	<section class="productos">

	<% if (productos.length === 0){ %>
		<h2 class="productos-title" id="top">No se encontró la búsqueda</h2>

	<% } else { %>

		<h2 class="productos-title" id="top"><%= title %></h2>
		<ul class="productos-container">
			<% productos.forEach(producto => { %>
			<li class="productos-item">
				<div class="producto-img">
					<img src="/img/instrumentos/<%= producto.categoria %>/<%= producto.img %>"  alt="<%= producto.nombre %> " class="img--productos">
				</div>
				
				<p class="productos-text">
				<%= producto.instrumento %>
				</p>

				<p class="productos-text">
					<%= producto.categoria %>
				</p>
				
				<p class="productos-text">
				<%=producto.marca %>
				</p>
				
				<p class="productos-text">
				<%= producto.tipo %>  
				</p>
				
				<p class="productos-text">
				<%= producto.color %>
				</p>

				<p class="productos-text">
					<%= producto.valor %>
					</p>

				<div class="btns--container">
		
						<a class="btn--editar" href="/detalle-del-producto/<%= producto.id %> ">+info!</a> <!-- ARMAR LA RUTA POR GET, SEGUN SU ID -->

					<form action="<%= producto.id %>?_method=PUT" method="POST">
						<button class="btn--borrar" type="submit">Agregar al carrito</button>
					</form>
				</div>
			</li>
			<% }) %>
		</ul>
	<% } %>	
		
		<a href="#top" class="btn--goTop"><i class="fas fa-chevron-circle-up"></i></a>
	</section>

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>
</html>

