	<!-- carrito -->
    <%- include('../partials/head') %>
    <!-- /carrito -->
	<body>
		<!-- carrito -->
		<%- include('../partials/carrito') %>
		<!-- /carrito -->

		<!-- header -->
		<%- include('../partials/header') %>
		<!-- /header -->

		<section class="productos">

		<% if (productos.length === 0){ %>

			<div class="error-row">
				
				<h2 class="productos-title" id="top">No se encontró la búsqueda</h2>
			</div>
		<!-- mensaje de error -->
		<%- include('../partials/error-msg') %>
		<!-- /mensaje de error -->

		<% } else { %>

			<h2 class="productos-title" id="top"><%= msg %></h2>
			<ul class="productos-container">
				<% productos.forEach(producto => { %>
				<li class="productos-item">
					
					<div class="producto-img">
						<img class="img--productos" src="/img/instrumentos/<%=producto.imagenes[0].name%>" alt="imagen de un/a <%=producto.instrument%>">
					</div>
                    
                    <p class="productos-text">
					<%= producto.instrument %>
                    </p>

					<p class="productos-text">
						<%= producto.categorias.name %>
					</p>
                    
                    <p class="productos-text">
                    <%=producto.mark %>
                    </p>
                    
                    <p class="productos-text">
                    <%= producto.tipe %>  
                    </p>
                    
                    <p class="productos-text">
                    <%= producto.color %>
                    </p>

					<p class="productos-text">
						$<%= producto.price %>
						</p>

                    <div class="btns--container">


			
					
                    

						<% if (locals.user) { %>
							<% if (locals.user.rol == "admin") { %>
								<a class="btn--editar" href="/products/edit/<%= producto.id %>">editar</a>

								<form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST">
									<button class="btn--borrar" type="submit">borrar</button>
								</form>
							<% } %>
						
						<% } else { %>
							
							<a class="btn--editar" href="/products/detalle-del-producto/<%= producto.id %> ">+ info!</a>

								<form action="?_method=PUT" method="POST">
									<button class="btn--borrar" type="submit">agregar al carrito</button>
								</form>
						
						<% } %>
					
					</div>
				</li>
				<% }) %>
			</ul>
		
			<div class="paginator-row">
				<a href="" class="paginator-btn">
					
				</a>
	
				<span class="paginator-index">1</span>
				
				<a href="" class="paginator-btn">
					
				</a>
			</div>
			

		
		<% } %>	
		
		</section>

		<!-- footer -->
		<%- include('../partials/footer') %>
		<!-- /footer -->
	</body>
</html>
