<!-- head -->
<%- include('../partials/head') %>
<!-- /head -->

<body class="body--home">
	<!-- header -->
	<%- include('../partials/header') %>
	<!-- /header -->

	<!-- carrito -->
	<%- include('../partials/carrito') %>
	<!-- /carrito -->

	<main class="cargaProductos">
		<h2 class="cargaProductos-title">cargando instrumento</h2>
		
		<!-- mensaje de error-->
        <%- include('../partials/error-msg') %>
        <!-- /mensaje de error-->

		<form
			class="carga"
			action="/products/store"
			method="POST"
			enctype="multipart/form-data"
			id="formCarga"
		>
			<div class="cajaIzquierda">
				<div class="log-row">
					<label class="log--label" for="instrumento">Instrumentos: </label>
					<select class="log--input" name="instrumento" id="instrumento">
						<option value=""  selected disabled>
							elegí instrumento
						</option>

						<option value="guitarra">guitarra</option>
						<option value="bajo">bajo</option>
						<option value="ukelele">ukelele</option>
						<option value="bateria">bateria</option>
						<option value="teclado">teclado</option>
						<option value="piano">piano</option>
						<option value="amplificador">amplificador</option>
						<option value="cuerda">cuerda</option>
						<option value="microfono">microfono</option>
						<option value="pie">pie</option>
						<option value="consola">consola</option>
						<option value="accesorio">accesorio</option>
						<option value="trompeta">trompeta</option>
						<option value="flauta">flauta</option>
						<option value="armonica">armonica</option>
					</select>
					<span class="error" id="instrumentoErrors"></span>
				</div>

				<div class="log-row">
					<label class="log--label" for="tipo">Tipo de instrumento:</label>

					<input
						class="log--input"
						type="text"
						name="tipo"
						id="tipo"
						placeholder="Criolla,Acustica,eléctrica,etc..."
					/>
				</div>

				<div class="log-row">
					<label for="marca" class="log--label">Marca :</label>
					<input
						class="log--input"
						type="text"
						name="marca"
						placeholder="Nombre del artículo"
						id="marca"
					/>
				</div>

				<div class="log-row">
					<label class="log--label" for="categoria">Categorias: </label>
					
          <select class="log--input" name="categoria" id="categoria" selected="elegí categoria">
            
            <option value=""  selected disabled>elegí categoria</option>
					
			<% categorias.forEach(categoria => { %>
				
				<option value="<%=categoria.id%>"><%=categoria.name%></option>
				
			<% }) %>

					
          </select>
		  <span class="error" id="categoriaErrors"></span>
		</div>
		  
		<div class="kit--row">
			<label class="log--label" for="kit">Habilitar para Kit</label>

			<input class="kit--check" type="checkbox" name="kit" id="kit"/>
		  </div>

		  <div class="desc-row">
			<label class="log--label" for="desc">Descripción</label>

			<textarea class="description log--input" name="description" id="desc" cols="30" rows="3"></textarea>
		  </div>
				
			</div>

			<div class="cajaDerecha">
				<div class="log-row">
					<label for="modelo" class="log--label">Modelo :</label>
					<input
						class="log--input"
						type="text"
						name="modelo"
						placeholder="abc-123,ccb-334,etc"
						id="modelo"
					/>
					<span class="error" id="modeloErrors"></span>
				</div>

				<div class="log-row">
					<label for="color" class="log--label">Color :</label>
					<input
						class="log--input"
						type="text"
						name="color"
						placeholder="blanco,negro,etc..."
						id="color"
					/>
					<span class="error" id="colorError"></span>
				</div>

				<div class="log-row">
					<label for="valor" class="log--label">Valor :</label>
					<input
						class="log--input"
						type="text"
						name="valor"
						placeholder="$10,$1000,etc.."
						id="valor"
					/>
					<span class="error" id="valorErrors"></span>
				</div>

				<div class="log-row">
					<label for="formImg" class="log--label">Fotos :</label>
					<input
						class="log--input"
						type="file"
						name="file"
						class="form-control-file"
						id="formImg"
						multiple
					/>
					<span class="error" id="formImgErrors"></span>
				</div>

				<div class="log-row">

					<button class="btn--submit">cargar</button>
					<a href="products/admin/list" class="btn--productos">ver lista</a>
				</div>
			</div>
		</form>
	</main>

		<!-- carrito -->
		<%- include('../partials/footer') %>
		<!-- /carrito -->

	<script src="/javascript/cargaEditValidation.js"></script>


</body>
