 <!-- head -->
 <%- include('../partials/head') %>
 <!-- /head -->


  <body class="body--home">
    <!-- carrito -->
        <%- include('partials/carrito') %>
    <!-- /carrito -->

    <div class="home--container">
    <!-- header -->
      <%- include('../partials/header') %>
    <!-- /header -->

    <main class="home__main">
          
        <!-- slider -->
        <%- include('../partials/slider') %>
        <!-- /slider -->


        <!-- kits -->
        <%- include('../partials/kits') %>
        <!-- /kits -->

        <!-- categorias -->
        <%- include('../partials/categorias') %>
        <!-- /categorias -->
       
    </main>



    <!-- footer -->
      <%- include('../partials/footer') %>
    <!-- /footer -->
    </div>


    <script src="/javascript/slider.js"></script>

  </body>

  </html>