<!-- carrito -->
<%- include('../partials/head') %>
<!-- /carrito -->
<body>
    <!-- carrito -->
    <%- include('../partials/carrito') %>
    <!-- /carrito -->

    <!-- header -->
    <%- include('../partials/header') %>
    <!-- /header -->

    <section class="productos">

    <% if (users.length === 0){ %>

        <div class="error-row">
            
            <h2 class="productos-title" id="top">No se encontró la búsqueda</h2>
        </div>
    <!-- mensaje de error -->
    <%- include('../partials/error-msg') %>
    <!-- /mensaje de error -->

    <% } else { %>

        <h2 class="productos-title" id="top"><%= msg %></h2>
        
        <form class="search-row">
            <h3 class="search-subtitle">buscá a un usuario</h3>
            <div class="search-container">
                <input class="search-input" type="text" placeholder="buscá a tú usuario">
            </div>
        </form>
        
        <ul class="productos-container">
            <% users.forEach(user => { %>
            <li class="productos-item">
            
                <p class="productos-text">
                    nombre: <%= user.name %>
                </p>

                <p class="productos-text">
                   id: <%= user.id %>
                </p>
                
                <p class="productos-text">
                 email: <%=user.email %>
                </p>
                
                <p class="productos-text">
                 rol: <%= user.rol %>  
                </p>

                <div class="btns--container">

                    
                    <% if (user.rol == "master") { %>
                                    
                        <a class="btn--editar" href="/master/edit/<%= user.id %>" style="pointer-events: none">disabled</a>

                    
                    <% } else { %>

                        <a class="btn--editar" href="/master/edit/<%= user.id %>">editar</a>
                        
                        
                    <% } %>


                            <form action="/master/delete/<%= user.id %>?_method=DELETE" method="POST">

                            
                            <% if (user.rol == "master") { %>
                                    
                                <button class="btn--borrar" type="submit" style="pointer-events: none">disabled</button>
                            
                            <% } else { %>

                                <button class="btn--borrar" type="submit">borrar</button>
                                
                            <% } %>
                                </form>

                           
                
                </div>
            </li>
            <% }) %>
        </ul>
    
        <div class="paginator-row">
            <a href="" class="paginator-btn">
                
            </a>

            <span class="paginator-index">1</span>
            
            <a href="" class="paginator-btn">
                
            </a>
        </div>
        

    
    <% } %>	
    
    </section>

    <!-- footer -->
    <%- include('../partials/footer') %>
    <!-- /footer -->
    <script src="../../../javascript/searchUser.js"></script>
</body>
</html>