 <!-- head -->
 <%- include('partials/head') %>
 <!-- /head -->


  <body class="body--home">
    <!-- carrito -->
        <%- include('partials/carrito') %>
    <!-- /carrito -->

    <div class="home--container">
    <!-- header -->
      <%- include('partials/header') %>
    <!-- /header -->

    <main class="home__main">
    
          
        <!-- slider -->
        <%- include('partials/slider') %>
        <!-- /slider -->
        
        <!-- categorias -->
        <%- include('partials/categorias') %>
        <!-- /categorias -->

       
        <!-- kits-->
        <%- include('partials/kits') %>
        <!-- /kits-->
       
    </main>



    <!-- footer -->
      <%- include('partials/footer') %>
    <!-- /footer -->
    </div>


  </body>

  </html>