<%- include('partials/head')  %> 



<body>
	<%- include('partials/header')  %> 
	
	<%- include('partials/carrito')  %> 
	

<section class="container-products">
	<h2 class="productos-title"><%= categorias[0].name %></h2>
	<ul class="productos-container">
		
		<% for(let i = 0; i< categorias.length ; i++){%>
			
			<% for(let j = 0; j < categorias[i].productos.length ; j++){%>
				
				<li class="productos-item">

					<div class="producto-img">
						<img class="img--productos" src="/img/instrumentos/<%=categorias[i].productos[j].imagenes[0].name%>" alt="imagen de un/a <%=categorias[i].productos[j].instrument%>">
					</div>

					<p class="productos-text">
					<%= categorias[i].productos[j].instrument %>
					</p>
			
					<p class="productos-text">
						<%= categorias[i].productos[j].name %>
					</p>
					
					<p class="productos-text">
					<%=categorias[i].productos[j].mark %>
					</p>
					
					<p class="productos-text">
					<%= categorias[i].productos[j].type %>  
					</p>
					
					<p class="productos-text">
					<%= categorias[i].productos[j].color %>
					</p>
			
					<p class="productos-text">
						$<%= categorias[i].productos[j].price %>
					</p>
			
					<div class="btns--container">
			
							<a class="btn--editar" href="/products/detalle-del-producto/<%= categorias[i].productos[j].id %> ">+info!</a> <!-- ARMAR LA RUTA POR GET, SEGUN SU ID -->
			
						<form action="<%= categorias[i].productos[j].id %>?_method=PUT" method="POST">
							<button class="btn--borrar" type="submit">Agregar al carrito</button>
						</form>
					</div>
				</li>

				<% } %>
		<% } %>
	</ul>
	
</section>

<%- include('partials/footer')  %> 
</body>